@import url('https://fonts.googleapis.com/css2?family=Nobile&display=swap');

body {
	margin: 0;
	height: 100vh;
	background: #191919;
	font-family: 'nobile';
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.container {
	padding: 2em;
	height: 100vh;
	&:first-child {
		display: grid;
		grid-template-rows: 5% 50% auto;
	}
}

h1 {
	text-align: center;
	font-weight: bold;
	font-size: 3em;
	line-height: 0.9em;
	font-size: clamp(3em, 7vw, 5em);
	margin-top: 5rem;
}

p {
	line-height: 1.5em;
	color: rgb(194, 194, 194);
}

.line {
	align-self: end;
	width: 50%;
	border-right: 3px solid purple;
	height: 50%;
	margin-bottom: 8em;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 11px 11px 0 11px;
		border-color: purple transparent transparent transparent;
		right: -.7em;
		bottom: -2px;
	}
}

header {
	display: flex;
	justify-content: space-between;
}
.subteext {
	margin-top: 0;
	font-size: 1.4em;
	text-transform: uppercase;
}

h2 {
	color: white;
	font-size: 3em;
	margin: 0;
}
.secondary {
	margin-top: 5em;
}

.mountains,
.kallio {
	position: absolute;
	z-index: -1;
	width: 100%;
}

.mountains {
	top: -200px;
	height: 80vh;
}
.kallio {
	top: 70%;
}
@media only screen and (min-width: 525px) {
	.mountains {
		top: -20%;
	}

	.kallio {
		top: 70%;
	}
}
@media only screen and (min-width: 665px) {
	.mountains {
		top: -20%;
	}

	.kallio {
		top: 70%;
	}
}

@media only screen and (min-width: 730px) {
	.mountains {
		top: -20%;
	}

	.kallio {
		top: 65%;
	}
}
@media only screen and (min-width: 930px) {
	.mountains {
		top: -20%;
	}

	.kallio {
		top: 65%;
	}
}

@media only screen and (min-width: 1125px) {
	.mountains {
		top: -20%;
	}

	.kallio {
		top: 60%;
	}
	h1 {
		margin-top: 2em;
	}
}

@media only screen and (min-width: 1320px) {
	.mountains {
		top: -20%;
	}

	.kallio {
		top: 55%;
	}
}

@media only screen and (min-width: 1450px) {
	.mountains {
		top: -20%;
	}

	.kallio {
		top: 50%;
	}
}
